/****** Sitewide Styles ******/

:root {
    /* Site color themes */
    --maincolor: rgb(151, 193, 231);
    --secondarycolor: rgb(3, 99, 189);
    --tertiarycolor: rgb(186, 151, 231);
    --accentcolor: rgb(113, 73, 158);
    --contrastcolor: rgb(0, 0, 0);
    --highlightcolor: gray;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0px auto;
    padding-bottom: 50px;
    background-color: var(--maincolor);
}

#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--secondarycolor);  
}

.nav-link {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: var(--contrastcolor);
}

.nav-link:hover{
    background-color: var(--tertiarycolor);
    color: var(--contrastcolor);
}

.main {
    height: auto;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.footer {
    background-color: var(--secondarycolor);
    color: var(--contrastcolor);
    border-top: 2px solid var(--contrastcolor);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
    text-align: center;
}



/****** Index page ******/

#circle {
    width: 500px;
    height: 500px;
    background: radial-gradient(circle at 400px 400px, var(--accentcolor), var(--contrastcolor));
    border-radius: 50%;
    box-shadow: 10px 10px 5px 3px var(--tertiarycolor);
    transform: scale(100%);
}

.title {
    position: absolute;
    font-size: 150px;
    color: var(--contrastcolor);
    z-index: 1;
}

#hidden-title {
    display: none;
}



/****** About page ******/

#about {
    margin: 0 auto;
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 10px;
    width: 75%;    
}

#profile-pic {
    margin: 0 auto;
    padding: 10px;
    width: 350px;
    height: 350px;
}

#description {
    padding: 10px;
    float: left;
}

#desc-title {
    text-align: center;
}

.flexbox {
    display: flex;    
}



/****** Flashcards Page ******/
.card {
    background-color: transparent;
    padding: 3px;
    width: 300px;
    height: 200px;
    /* border: 1px solid white; */
    perspective: 1000px;
    /* border-radius: 10px; */

}

.card-content {
    position: relative;
    
    width: 100%;
    height: 100%;
    /* text-align: center; */
    /* vertical-align: center; */
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 black;
    border-radius: 10px;
}

.card:hover .card-content {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    /* background-color: var(--highlightcolor); */
    color: black;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-front {
    background-color: var(--highlightcolor);
    color: black;
}

.card-back {
    background-color: var(--tertiarycolor);
    color: black;
    transform: rotateY(180deg);
}



/****** Challenge Page ******/

#selector {
    width: 25%;
}

#selector h2 {
    text-align: center;
}

#options {
    width: 100%;
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 50%;
    height: 40px;
    background-color: var(--maincolor);
}

.tab-container button {
    border: 1px solid var(--maincolor);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    padding: 10px 20px;
}

.tab-content {
    display: none;
    padding: 5px 15px;
    margin-bottom: 10px;
    border: none;
    border-top: none;
    width: 50%;
    min-height: 450px;
    height: auto;
}

.tab-box {
    margin: 20px 0;
    border: 1px solid var(--contrastcolor);
    padding: 10px;
    min-width: 200px;
    height: 125px;
    width: auto;
    background-color: var(--maincolor);
    overflow: auto;    
}

#code-box{
    background-color: black;
    color: lime;
    height: 320px;
}

#result-box {
    background-color: white;
    height: 320px;
}

#clear-btn{
    margin: 10px 0;
    width: 100px;
    height: 30px;
    padding: 2px;
    border-radius: 7px;
    background-color: var(--accentcolor);
}

#clear-btn:hover {
    background-color: var(--tertiarycolor);
    color: white;
}



/****** Media Queries ******/

/* Make Nav Bar vertical on small screens */
@media screen and (max-width: 365px)
{
    #navbar {
        transition: .2s ease-out;
        transition-property: height;
        height: 150px;
    }
}
@media screen and (max-width: 365px)
{
    .nav-link {
        width: 100%;
    }
}

/* Reduce Index title size and hide title graphic on small screens */
@media screen and (max-width: 480px)
{
    #circle {
        display: none;
    } 

     #hidden-title, #hidden-title h1 {
        text-align: center; 
        display: block;
        font-size: 150px;
        margin: 0 auto;
    }    

    #hidden-title p{
        font-size: 30px;
        font-variant: small-caps;
        margin: 0 auto;
    }

    .title {
        display: none;
    } 
}

/* Change Index title and title graphic size on medium screens */
@media screen and (min-width: 800px)
{
    #circle {
        width: 500px;
        height: 500px;
        transition: .2s ease-out;
        transition-property: height, width;
    }

    .title {
        font-size: 150px;
        transition: .2s ease-out;
        transition-property: font-size;
    }
}
@media screen and (max-width: 800px)
{
    #circle {
        width: 300px;
        height: 300px;
        transition: .2s ease-out;
        transition-property: height, width;
    }

    .title {
        font-size: 80px;
        transition: .2s ease-out;
        transition-property: font-size;
    }
}

/* Set Challenge container size on small screens */
@media screen and (max-width: 480px) 
{
    .tab-content {
       margin: 0 auto;
       width: 300px;
    }
}

/* Move About text to column on small screens */
@media screen and (max-width: 1000px)
{
    .flexbox {
    flex-direction: column;
    }
}

/* Reduce profile image size on small screens */
@media screen and (max-width: 500px)
{
    #profile-pic {     
        width: 200px;
        height: 200px;
        float: none;
    }
}

/* Reduce flashcard size on small screens */
@media screen and (max-width: 400px)
{
    .card {
        width: 200px;
        height: 100px;
    }

    .card-content {
        font-size: .7em;
    }
    card
}
/* Hide flashcard for tiny screens */
@media screen and (max-width: 210px)
{
    .card {
        display: none;
    }
}