/****** Layout Section ******/

:root {
    /* css variables go here */
    --maincolor: rgb(151, 193, 231);
    --secondarycolor: rgb(3, 99, 189);
    --tertiarycolor: rgb(186, 151, 231);
    --accentcolor: rgb(113, 73, 158);
    --contrastcolor: rgb(0, 0, 0);
    --highlightcolor: rgb(255, 255, 255);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0px auto;
    padding-bottom: 50px;
    background-color: var(--maincolor);
}

#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--secondarycolor);  
}

.nav-link {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: var(--contrastcolor);
}

.nav-link:hover{
    background-color: var(--tertiarycolor);
    color: var(--contrastcolor);
}



@media screen and (max-width: 365px)
{
    #navbar {
        transition: .2s ease-out;
        transition-property: height;
        height: 150px;
    }
}

@media screen and (min-width: 365px)
{
    #navbar {
        transition: .2s ease-out;
        transition-property: height;
        height: 50px;
    }
}

@media screen and (max-width: 365px)
{
    .nav-link {
        width: 100%;
    }
}

.main {
    height: auto;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.footer {
    background-color: var(--secondarycolor);
    color: var(--contrastcolor);
    border-top: 2px solid var(--contrastcolor);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
    text-align: center;
}

/****** Index page ******/
#circle {
    width: 500px;
    height: 500px;
    background: radial-gradient(circle at 400px 400px, var(--accentcolor), var(--contrastcolor));
    border-radius: 50%;
    box-shadow: 10px 10px 5px 3px var(--tertiarycolor);
    transform: scale(100%);
}

.title {
    position: absolute;
    font-size: 150px;
    color: var(--contrastcolor);
    z-index: 1;
}

#hidden-title {
    display: none;
}

/****** About page ******/

#about-box {
    margin: 0 auto;
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 10px;
    width: 75%;
    
}

#profile-pic {
    padding: 10px;
    width: 350px;
    height: 350px;
}

#description {
    padding: 10px;
}

#desc-title {
    text-align: center;
}

.flexbox {
    display: flex;
}

/****** Challenge Page ******/


#options {
    margin-bottom: 10px;
    width: 100%;
}

#file-input {
    margin: 20px 0;
}

#result-box {
    min-width: 200px;
    min-height: 80px;
    width: auto;
    height: auto;
    border: 1px solid var(--contrastcolor);
    padding: 10px;
    margin: 20px 0;
    background-color: var(--highlightcolor);
}

#result-btn, #clear-btn{
    margin: 10px 0;
    width: 100px;
    height: 30px;
    padding: 2px;
    border-radius: 7px;
}

#result-btn {
    background-color: green;
}

#clear-btn {
    background-color: red;
}

#result-btn:hover {
    background-color: rgb(0, 95, 0);
    color: white;
}

#clear-btn:hover {
    background-color: rgb(165, 1, 1);
    color: white;
}

.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: yellow;
}

.tab button {
    border-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: white;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid white;
    border-top: none;
    width: 30%;
    height: 20%;
}
/****** Media Queries ******/

/*Medium Screen Size*/
@media screen and (min-width: 800px)
{
    #circle {
        width: 500px;
        height: 500px;
        transition: .2s ease-out;
        transition-property: height, width;
    }

    .title {
        font-size: 150px;
        transition: .2s ease-out;
        transition-property: font-size;
    }
}

@media screen and (max-width: 800px)
{
    #circle {
        width: 300px;
        height: 300px;
        transition: .2s ease-out;
        transition-property: height, width;
    }

    .title {
        font-size: 80px;
        transition: .2s ease-out;
        transition-property: font-size;
    }
}

/*Small Screen Size*/
@media screen and (min-width: 435px)
{
    #circle {
        display: flex;
        transition: .2s ease-out;
        transition-property: display;
    }
}

@media screen and (max-width: 435px)
{
    .main {
        padding: 0;
        background: linear-gradient(to bottom, white 0%, yellow 100%);
    }
    
    #circle {
        display: none;
    }

    #hidden-title, #hidden-title h1 {
        text-align: center; 
        display: block;
        font-size: 150px;
        margin: 0 auto;
    }    

    #hidden-title p{
        font-size: 30px;
        font-variant: small-caps;
        margin: 0 auto;
    }

    .title {
        display: none;
    }
}

/* About Page */

